# # Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# # C extensions
*.so

# # Distribution / packaging
build/
dist/
*.egg-info/
MANIFEST

# # Sphinx documentation
docs/_build/

# # Environments
.env
.venv
env/
venv/
